Funkcja dla wyświetlania listy brakujących wartości dla wszystkich kolumn w zbiorze danych i ich sumy

In [1]:
def print_missing(df):
    missing = (df == "?").sum()
    print(missing)
    print(missing.sum())

Wczytanie pliku .xlsx z danymi,
oraz wyświetlenie listy brakujących wartości dla wszystkich kolumn w zbiorze danych i ich sumy

In [2]:
import pandas as pd

df = pd.read_excel("../shopLog/logTest.xlsx")
print_missing(df)
df

sessionNo            0
startHour            0
startWeekday         0
duration             0
cCount               0
cMinPrice           88
cMaxPrice           88
cSumPrice           88
bCount               0
bMinPrice           94
bMaxPrice           94
bSumPrice           94
bStep              322
onlineStatus       261
availability       269
customerNo         385
maxVal             385
customerScore      385
accountLifetime    385
payments           385
age                385
address            385
lastOrder          385
order                0
dtype: int64
4478

,sessionNo,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,...,availability,customerNo,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order
0,1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,...,?,1,600,70,21,1,43,1,49,y
1,1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
2,1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
3,2,6,5,0.000,0,?,?,?,0,?,...,completely orderable,?,?,?,?,?,?,?,?,y
4,2,6,5,15.633,0,?,?,?,0,?,...,completely orderable,?,?,?,?,?,?,?,?,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,100,6,5,13.999,1,49.99,49.99,49.99,1,49.99,...,completely orderable,?,?,?,?,?,?,?,?,n
714,100,6,5,32.292,1,49.99,49.99,49.99,1,49.99,...,completely orderable,?,?,?,?,?,?,?,?,n
715,100,6,5,55.286,1,49.99,49.99,49.99,1,49.99,...,completely orderable,?,?,?,?,?,?,?,?,n
716,100,6,5,72.313,1,49.99,49.99,49.99,1,49.99,...,completely orderable,?,?,?,?,?,?,?,?,n
717,100,6,5,88.557,1,49.99,49.99,49.99,1,49.99,...,completely orderable,?,?,?,?,?,?,?,?,n

In [3]:
#informacje o kliencie wypełniane domyślnymi wartościami
df.loc[df["customerNo"] == "?", "customerNo"] = "unknown"
df.loc[df["maxVal"] == "?", "maxVal"] = 0
df.loc[df["customerScore"] == "?", "customerScore"] = 0
df.loc[df["accountLifetime"] == "?", "accountLifetime"] = 0
df.loc[df["payments"] == "?", "payments"] = 0
df.loc[df["address"] == "?", "address"] = "Mr"
df.loc[df["age"] == "?", "age"] = 0
df.loc[df["lastOrder"] == "?", "lastOrder"] = 0

print_missing(df)

sessionNo            0
startHour            0
startWeekday         0
duration             0
cCount               0
cMinPrice           88
cMaxPrice           88
cSumPrice           88
bCount               0
bMinPrice           94
bMaxPrice           94
bSumPrice           94
bStep              322
onlineStatus       261
availability       269
customerNo           0
maxVal               0
customerScore        0
accountLifetime      0
payments             0
age                  0
address              0
lastOrder            0
order                0
dtype: int64
1398

In [4]:
# jeżeli zamówienie doszło do skutku to musiało być dostępne
df.loc[df["order"] == "y", "availability"] = "completely orderable"

In [5]:
print(df["onlineStatus"].unique())

#jako że w systemie nie istnieją wartości n przypuszcza się że system miał błąd zapisu danych przy statusie offline
df.loc[df["onlineStatus"] == "?", "onlineStatus"] = "n"

['?' 'y']

In [6]:
# jeżeli zamówienie doszło do skutku, etap zamówienia musi być ostatni
df.loc[df["order"] == "y", "bStep"] = 5

In [7]:
#jeżeli koszyk lub zbiór klikniętych produktów są puste to suma, minimalna i maksymalna cena tych produktów muszą być zerowe
df.loc[df["cCount"] == 0, "cMinPrice"] = 0
df.loc[df["cCount"] == 0, "cMaxPrice"] = 0
df.loc[df["cCount"] == 0, "cSumPrice"] = 0

df.loc[df["bCount"] == 0, "bMinPrice"] = 0
df.loc[df["bCount"] == 0, "bMaxPrice"] = 0
df.loc[df["bCount"] == 0, "bSumPrice"] = 0

print_missing(df)

sessionNo            0
startHour            0
startWeekday         0
duration             0
cCount               0
cMinPrice            6
cMaxPrice            6
cSumPrice            6
bCount               0
bMinPrice            6
bMaxPrice            6
bSumPrice            6
bStep              145
onlineStatus         0
availability       146
customerNo           0
maxVal               0
customerScore        0
accountLifetime      0
payments             0
age                  0
address              0
lastOrder            0
order                0
dtype: int64
327

In [8]:
df.to_excel("../shopLog/result.xlsx")